@import './markdown.scss';

// Vitesse 
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #252525;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

// Custom
p {
  font-size: 1.3em;
}

.large-title {
  font-size: 4em;
  font-weight: bold;
}

.link-button {
  font-size: 1.25em;
  padding: 1.5em;
}